body {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;

  main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    @include large-blocks-are-centered;

    #skills-icons {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    #certification {
      display: flex;
      flex-wrap: wrap;

      h2 {
        flex-basis: 100%;
      }

      figure {
        margin: 1rem;
      }
    }

    section {
      &:first-of-type {
        flex-basis: 500px;
        margin: 0 auto;
      }

      &:nth-of-type(2) {
        flex-basis: 420px;
        margin: 0 auto;
      }
    }

    #portfolio {
      display: flex;
      flex-wrap: wrap;

      h2 {
        flex-basis: 100%;
      }

      blockquote {
        flex-basis: 100%;
      }
    }
  }

  details {
    @extend %no-print;
  }
}