nav {
  width: 100%;
  position: sticky;
  top: 10px;
  flex-grow: 1;

  @include large-blocks-are-centered;
  @extend %no-print;

  ol {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    @extend %no-dots-in-list;
  }
}