@media print {
  html {
    & body {
      margin: 1rem 5rem;
      background: #fff;
      background: transparent;
      padding-top: 0;
      padding-bottom: 0;
      font-size: 18px;
    }
  }

  .container {
    padding: 0 !important;
    margin: 0 !important;
    width: 100% !important;
    max-width: none !important;
    min-width: unset !important;
  }

  #courses {
    ul {
      li {
        a {
          text-decoration: none;

          &::after {
            content: (" — ") attr(title);
            color: black;
          }
        }
      }
    }
  }

  #experience,
  #volunteering {
    article {
      section {
        h3 {
          &::after {
            content: (" — ") attr(title);
          }
        }
      }
    }
  }
}