#courses {
  li {
    position: relative;
  }

  time {
    font-size: $time-tooltip-font-size;
  }

  li time {
    visibility: hidden;
    max-width: $time-tooltip-max-width;
    color: $time-tooltip-color;
    background-color: $time-tooltip-bg;
    border-radius: $time-tooltip-border-radius;
    opacity: $time-tooltip-opacity;
    padding: $time-tooltip-padding-y $time-tooltip-padding-x;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 10%;
  }

  li time::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent;
  }

  li:hover time {
    visibility: visible;
  }
}